@import '@/style/_variables.scss';

.header {
  position: absolute;
  z-index: 99;
  @media (max-width: $screenSmall) {
    backdrop-filter: blur(1px);
  }
  button {
    filter: invert(1);
  }
  &__logo {
    position: relative;
    width: pxToRem(438);
    transform: translateX(pxToRem(-22));
    &::after {
      content: '';
      position: absolute;
      bottom: -100%;
      left: 0;
      width: inherit;
      height: pxToRem(438);
      border-radius: 50%;
      background: $primary;
    }
    img {
      position: relative;
      height: pxToRem(124);
      z-index: 1;
      // width: pxToRem(309);
    }
  }
  &__nav {
    position: relative;
    margin-left: pxToRem(200);
    @media (max-width: $screenExtraXSmall) {
      margin-left: 1rem;
    }
    @media (max-width: $screenExtraSmall) {
      width: fit-content;
      background: #ffffff59;
      backdrop-filter: blur(1px);
      padding: 1rem 2rem;
    }

    li {
      a {
        white-space: nowrap;
        color: #000;
        @include typoFromPx(15, 700, 22.34);
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          transition: all 0.16s linear;
        }
        &:hover {
          color: #000;
          background-color: unset !important;
          @extend .line-left;
          &::after {
            border-radius: 50%;
            background-color: $primary;
            width: 6px;
            height: 6px;
          }
        }
        @media (max-width: $screenExtraXSmall) {
          &::before,
          &::after {
            display: none;
          }
        }
      }
      @media (min-width: $screenExtraSmall) {
        &:nth-of-type(3) a,
        &:nth-of-type(4) a,
        &:nth-of-type(5) a {
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
