@import '@/style/_variables.scss';

.home {
  .nav-arrow {
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 48px;
    width: pxToRem(155);
    @media (max-width: $screenExtraSmall) {
      width: pxToRem(80);
      left: 38px;
    }
    &-up,
    &-down {
      width: 1.2rem;
      height: 1.2rem;
      // @media (max-width: $screenExtraSmall) {
      //   width: pxToRem(80);
      // }
      border: 2px solid $primary;
      border-width: 0 2px 2px 0;
      transform: rotate(-135deg);
      cursor: pointer;
      &.active {
        border-color: #000;
      }
    }
    &-down {
      transform: rotate(45deg);
    }
    .line {
      width: 1px;
      height: 38px;
      background: $primary;
    }
  }

  .section1 {
    position: relative;
    // height: pxToRem(1430);
    img {
      //   height: 100%;
      width: 65.23%;
    }
    &__content {
      max-width: 50%;
      position: absolute;
      bottom: 40%;
      right: 41.5%;
      @media (max-width: $screenLarge) {
        right: 32%;
      }
      @media (max-width: $screenSmall) {
        bottom: 20%;
      }
      @media (max-width: $screenExtraSmall) {
        bottom: 10%;
      }
      p {
        color: $textDarkGrey;
        @include typoFromPx(21.5, 500, 22.34);
      }
      h2 {
        letter-spacing: 6pt;
        @include typoFromPx(48.5, 800, 48.34);
        text-shadow: 0px 26px 81px rgba(0, 15, 26, 0);
        @media (max-width: $screenExtraXSmall) {
          @include typoFromPx(28.5, 800, 28.34);
        }
      }
    }
    &__gear {
      position: absolute !important;
      bottom: 24%;
      right: calc(65.23% + 60px);
      @include typoFromPx(21.5, 500, 22.34);
      @media (max-width: $screenSmall) {
        bottom: 10%;
      }
      @media (max-width: $screenExtraSmall) {
        right: 70%;
        bottom: 0;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: pxToRem(30);
        height: pxToRem(30);
        border: 2px solid $primary;
        border-width: 0 1px 1px 0;
        transform: translate(200%, -50%) rotate(-45deg);
      }
    }
  }

  .section2 {
    margin-top: pxToRem(400);
    position: relative;
    height: pxToRem(1144);
    img {
      //   height: 100%;
      width: 68.4%;
    }
    &__content {
      position: absolute;
      top: 50%;
      right: 8%;
      transform: translate(0, -58%);
      width: 50%;
      min-width: pxToRem(1780);
      border: 3px solid $primary;
      padding: 40px 50px 0;
      @media (max-width: $screenLarge) {
        right: 4%;
      }
      @media (max-width: $screenSmall) {
        padding: 20px 20px 0;
        background: #ffffff59;
        backdrop-filter: blur(1px);
      }
      @media (max-width: $screenExtraSmall) {
        top: 80%;
      }
      @media (max-width: $screenExtraXSmall) {
        top: 65%;
        min-width: 80%;
      }

      p {
        width: 40%;
        @include typoFromPx(12.5, 400, 39.34);
        color: $textLightGrey;
        @media (max-width: $screenExtraSmall) {
          width: 60%;
        }
        @media (max-width: $screenExtraXSmall) {
          width: 80%;
        }
      }
      .arrow {
        position: absolute;
        right: 20%;
        bottom: 0;
        transform: translateY(98%);
        width: pxToRem(389);
        img {
          height: pxToRem(156);
          width: auto;
        }
      }
    }
    &__title {
      position: absolute;
      top: 34%;
      right: 37%;
      letter-spacing: 6pt;
      @include typoFromPx(48.5, 700, 48.34);
      text-shadow: 0px 26px 81px rgba(0, 15, 26, 0.6);
      @media (max-width: $screenExtraSmall) {
        max-width: 50%;
        right: 20%;
        top: 20%;
        @include typoFromPx(28.5, 700, 28.34);
      }
      @media (max-width: $screenExtraXSmall) {
        @include typoFromPx(28.5, 700, 28.34);
        top: 10%;
      }
    }
    &__sub {
      position: absolute;
      top: 48%;
      right: 34%;
      @include typoFromPx(21.5, 500, 22.34);
      text-shadow: 0px 26px 81px rgba(0, 15, 26, 0.6);
      @media (max-width: $screenExtraXSmall) {
        top: 25%;
      }
    }
  }

  .section3 {
    background-color: rgb(213, 213, 213, 0.42);
    margin-top: pxToRem(400);
    padding: pxToRem(400) 0;
    position: relative;
    img {
      width: 68.4%;
    }
    &__content {
      position: absolute;
      top: 50%;
      left: 6%;
      transform: translate(0, -50%);
      width: 50%;
      min-width: pxToRem(1811);
      border: 3px solid $primary;
      padding: 20px 40px 20px;
      @media (max-width: $screenLarge) {
        left: 4%;
      }
      @media (max-width: $screenSmall) {
        background: #ffffff59;
        backdrop-filter: blur(1px);
      }
      @media (max-width: $screenExtraSmall) {
        position: unset;
        transform: translate(20%, -30%);
      }
      @media (max-width: $screenExtraXSmall) {
        transform: translate(20%, -20%);
        min-width: 80%;
      }
      &::before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        transform: translate(16px, -100%);
        height: pxToRem(41);
        width: pxToRem(637);
        background: url('@/assets/images/text-decor.png') no-repeat center/100%;
      }
      p {
        width: 46%;
        @include typoFromPx(12.5, 400, 39.34);
        color: $textLightGrey;
        @media (max-width: $screenExtraSmall) {
          width: 90%;
        }
      }
      .arrow {
        position: absolute;
        left: 20%;
        bottom: 0;
        transform: translateY(98%);
        width: pxToRem(389);
        background-color: rgb(237, 237, 237);
        img {
          height: pxToRem(156);
          width: auto;
        }
      }
      .title {
        position: absolute;
        top: 34%;
        right: -40%;
        letter-spacing: 6pt;
        @include typoFromPx(48.5, 700, 48.34);
        text-shadow: 0px 26px 81px rgba(0, 15, 26, 0.6);
        @media (max-width: $screenExtraSmall) {
          width: 50%;
          top: -64%;
          right: unset;
          left: 24%;
        }
        @media (max-width: $screenExtraXSmall) {
          @include typoFromPx(28.5, 700, 28.34);
        }
        @media (max-width: $screenExtraXSmall) {
          top: -40%;
        }
      }
      .sub {
        position: absolute;
        top: 54%;
        right: 1%;
        @include typoFromPx(21.5, 500, 22.34);
        text-shadow: 0px 26px 81px rgba(0, 15, 26, 0.6);
        @media (max-width: $screenExtraSmall) {
          top: -24%;
          right: unset;
          left: 24%;
        }
        @media (max-width: $screenExtraXSmall) {
          top: -18%;
        }
      }
    }
  }

  .section4 {
    margin-top: pxToRem(400);
    h2 {
      letter-spacing: 8pt;
      @include typoFromPx(60.5, 700, 65.34);
      @media (max-width: $screenExtraXSmall) {
        @include typoFromPx(40.5, 700, 40.34);
      }
    }
    &__under-title {
      width: pxToRem(1101);
      @include typoFromPx(21.5, 500, 22.34);
      background-color: rgb(184, 164, 126, 0.42);
      color: $textDarkGrey;
    }

    &__content {
      .num {
        width: fit-content;
        letter-spacing: 8pt;
        @include typoFromPx(60.5, 700, 60.34);
        color: #38383887;
      }
      .des {
        h5 {
          width: fit-content;
          letter-spacing: 4pt;
          @include typoFromPx(26.5, 800, 26.34);
          color: $textDarkGrey;
          white-space: nowrap;
          @media (max-width: $screenMedium) {
            white-space: unset;
          }
        }
        p {
          // @include typoFromPxO(30, 400, 1.5);
          @include typoFromPx(14.5, 400, 22.34);
          color: $textDarkGrey;
          text-align: justify;
          // word-spacing: -1px;
          // letter-spacing: -0.5px;
          span {
            width: fit-content;
            @include typoFromPx(15.5, 700, 22.34);
            position: relative;
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              width: 8px;
              height: 8px;
              border: 3px solid #000;
              border-width: 0 2px 2px 0;
              transform: translate(200%, -50%) rotate(-45deg);
              @media (max-width: $screenExtraSmall) {
                width: 4px;
                height: 4px;
                border-width: 0 1px 1px 0;
              }
            }
          }
        }
      }
    }
    .row1 {
      width: 80%;
      max-width: pxToRem(3200);
      .detail1 {
        // width: 80%;
        img {
          width: 50.3%;
          min-width: pxToRem(1912);
          @media (max-width: $screenLarge) {
            min-width: unset;
          }
        }
        .des {
          width: fit-content;
          margin-left: pxToRem(370);
          @media (max-width: $screenLarge) {
            margin-left: pxToRem(240);
          }
          @media (max-width: $screenMedium) {
            margin-left: 0;
            width: 50%;
          }

          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: -4%;
            left: 6%;
            transform: translate(0, -100%);
            width: 0;
            height: pxToRem(277);
            border: 1px solid #000;
            @media (max-width: $screenMedium) {
              left: 30%;
            }
          }

          h5 {
            position: relative;
            z-index: 1;
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
              background-color: rgb(184, 164, 126, 0.42);
            }
          }
          p {
            max-width: pxToRem(823);
          }
        }
      }
      .detail2 {
        position: absolute;
        left: 96%;
        bottom: -2%;
        transform: translateX(-92%);
        width: pxToRem(1174);
        z-index: 1;
        @media (max-width: $screenLarge) {
          bottom: -10%;
        }
        @media (max-width: $screenExtraSmall) {
          left: 100%;
        }
        @media (max-width: $screenExtraSmall) {
          width: 50%;
        }
        img {
          width: 100%;
          min-width: pxToRem(1174);
          @media (max-width: $screenExtraSmall) {
            min-width: 100%;
          }
        }
        .des {
          margin-left: pxToRem(400);
          @media (max-width: $screenExtraSmall) {
            margin-left: 20px;
          }

          position: relative;
          &::before,
          &::after {
            content: '';
            position: absolute;
            top: -4%;
            left: 0;
            transform: translate(0, -100%);
            width: 0;
            height: pxToRem(136);
            border: 1px solid #000;
          }
          &::after {
            top: unset;
            bottom: 0;
            transform: translate(0, 26%);
            height: pxToRem(277);
          }

          p {
            max-width: pxToRem(1082);
          }
          img {
            width: pxToRem(360);
            min-width: unset;
          }
        }
      }
    }
    .row2 {
      position: relative;
      padding-top: 80px;
      width: 80%;
      max-width: pxToRem(3200);
      .detail4 {
        img {
          width: 36%;
          min-width: pxToRem(1360);
          margin-right: 44px;
          margin-top: -22px;
          @media (max-width: $screenExtraSmall) {
            min-width: 50%;
            margin-top: -8px;
          }

          &.image-decor-left {
            position: absolute;
            width: pxToRem(868);
            min-width: unset;
            right: 47%;
            bottom: 26%;
            @media (max-width: $screenExtraSmall) {
              width: 40%;
            }
          }
          &.image-decor-bottom {
            position: absolute;
            width: pxToRem(367);
            min-width: unset;
            right: 0;
            bottom: 0;
            transform: translateY(90%);
          }
        }
        .num {
          position: relative;
          z-index: 1;
        }
        .des {
          width: pxToRem(928);
          @media (max-width: $screenExtraSmall) {
            width: 50%;
          }
          h5 {
            @media (max-width: $screenExtraSmall) {
              margin-left: auto;
              width: 90%;
            }
          }
          p {
            max-width: pxToRem(1420);
          }
          img {
            width: pxToRem(360);
            min-width: unset;
          }
        }
      }
      .detail3 {
        width: 32%;
        min-width: pxToRem(1200);
        position: absolute;
        bottom: 46%;
        right: 47%;
        @media (max-width: $screenExtraSmall) {
          min-width: 50%;
          right: 50%;
        }
        img {
          width: 100%;
          margin-top: -24px;
          @media (max-width: $screenExtraSmall) {
            margin-top: 0;
          }
        }
        .num {
          position: relative;
          z-index: 1;
          transform: translateX(60%);
        }
      }
    }
    .list-items {
      width: 82%;
      max-width: pxToRem(3200);
      margin-left: pxToRem(200);
      margin-bottom: pxToRem(400);
      @media (max-width: $screenExtraSmall) {
        width: 100%;
        margin: 0 auto pxToRem(400);
      }
      img {
        width: pxToRem(327);
        height: pxToRem(327);
        object-fit: cover;
      }
      div {
        position: relative;
        &::after,
        &::before {
          content: '';
          position: absolute;
          transition: all 0.2s linear;
        }
        &:hover::after {
          inset: 0;
          background-color: rgb(0, 0, 0, 0.6);
        }
        &::before {
          width: pxToRem(89);
          height: pxToRem(89);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
        &:hover::before {
          background: url('@/assets/images/icon-plus.png') no-repeat center/100%;
        }
      }
    }
  }
}
